.header{
  font-size: 6rem;
  font-weight: bold;
  padding-bottom: 4rem;
  padding-top: 6rem;
  top: 0;
  z-index: 99;
}

#header{
  position: sticky;
  background-color: #fefefe;
  border-bottom: solid 1px white;
}

.card{
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.code-block{
  white-space: pre-wrap;
}
